# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environment variables
.env

# Virtual Environments
.venv/
env/
venv/
ENV/

# Test / coverage reports
.coverage
.coverage.*
.cache
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# IDE files
.idea/
.vscode/
*.swp
*.swo
